* {box-sizing: border-box;}

html {
    min-height: 100vh; /*Allows for the site to be the view of the entire screen*/
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(seashell, peachpuff);  /*the radial gradient allows for a blend of colors for background*/
} 

.game-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px; /* found that grid gap allows for a better aestetic for card look*/
    /* border: .5px solid black; */
    height: 700px;
    width: 550px;
    margin: auto;
}

.card {
    border: 2px solid black;
}